@import url(https://fonts.googleapis.com/css?family=Neuton:400,200,300,400italic,700,800|Oswald);
@import url('https://cdn.jsdelivr.net/font-zero-width/latest/zero-width.css');

/*! HTML5 BOILERPLATE v5.3.0 | MIT LICENSE | https://html5boilerplate.com/ */


/*
 * WHAT FOLLOWS IS THE RESULT OF MUCH RESEARCH ON CROSS-BROWSER STYLING. CREDIT LEFT INLINE AND BIG THANKS TO NICOLAS GALLAGHER, JONATHAN NEAL, KROC CAMEN, AND THE H5BP DEV COMMUNITY AND TEAM
 */


/* ==========================================================================
   BASE STYLES: OPINIONATED DEFAULTS
   ========================================================================== */

html {
    font-family: 'Neuton', serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
}


/*
 * REMOVE TEXT-SHADOW IN SELECTION HIGHLIGHT
 * https://twitter.com/miketaylr/status/12228805301
 *
 * THESE SELECTION RULE SETS HAVE TO BE SEPARATE. CUSTOMIZE THE BACKGROUND COLOR TO MATCH YOUR DESIGN
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A BETTER LOOKING DEFAULT HORIZONTAL RULE
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * REMOVE THE GAP BETWEEN AUDIO, CANVAS, IFRAMES, IMAGES, VIDEOS AND THE BOTTOM OF THEIR CONTAINERS
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * REMOVE DEFAULT FIELDSET STYLES
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * ALLOW ONLY VERTICAL RESIZING OF TEXTAREAS
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   BROWSER UPGRADE PROMPT
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   AUTHOR'S CUSTOM STYLES
   ========================================================================== */


/*
 * HEADER
 */

header {
    position: relative;
    z-index: 999;
}

.headerWrapper {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    position: fixed;
}

.headerWrapperInside {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 25px;
}

.logo {
    float: left;
    margin-left: 10px;
}


/*
 * HEADER NAV
 */

.navWrapper {
    padding-top: 5px;
}

nav ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    border-bottom: solid 2px;
    color: #000000;
    text-align: right;
    transition: all ease-in 0.20s;
}

nav ul li a:hover {
    border-bottom: solid 2px transparent;
}


/*
 * COVER
 */

.cover {
    background: url(../img/header_hero.png) no-repeat center top;
    background-color: #ffffff;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}

.downArrow {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
}

.downArrowNudge:hover {
    animation: arrowDownNudge 0.5s linear alternate;
}

@keyframes arrowDownNudge {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -25px);
    }
}


/*
 * BODY
 */

.container {
    width: 100%;
    position: absolute;
    top: 98%;
}

.container2 {
    padding-top: 95px;
}


/*
 * MAIN
 */


/*
 * ABOUT
 */

#about,
#shop {
    background-color: #FDE5E0;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2,
h3 {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

#about p,
#shop p,
#faq p,
#contact p,
footer p {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 20px;
}


/*
 * WORK
 */

#work,
#faq,
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

#work {
    padding-top: 75px;
    padding-bottom: 0;
}

#work a img {
    margin-left: 0;
}

.workWrapper1,
.workWrapper2,
.workWrapper3 {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}

.workWrapper2 {
    padding-right: 60px;
}


/*
 * WORK FLOATS
 */

.workWrapper1_img,
.workWrapper2_text,
.workWrapper3_img {
    float: left;
}

.workWrapper1_text,
.workWrapper2_img,
.workWrapper3_text {
    float: right;
}

.workWrapper2_img {
    background-color: #ffffff;
}

.workWrapper2,
.workWrapper3 {
    clear: both;
}


/*
 * WORK POSITIONING
 */

.workWrapper1_text {
    padding-top: 175px;
}

.workWrapper2_text {
    padding-top: 260px;
    padding-left: 140px;
}

.workWrapper3_text {
    padding-top: 100px;
    padding-right: 60px;
}

.workWrapper2 {
    transform: translateY(-100px);
}

.workWrapper3 {
    transform: translateY(-100px);
}


/*
 * WORK ANIMATION
 */

.imgFade {
    opacity: 1.0;
}

.imgFade:hover {
    opacity: 0.25;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.rightArrow {
    margin-left: 10px;
}

.rightArrow:hover {
    animation: rightArrowNudge 0.5s linear alternate;
}

@keyframes rightArrowNudge {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(15px, 0);
    }
}


/*
 * WORK CONTENT PAGES
 */

.leftArrow {
    margin-right: 10px;
}

.leftArrow:hover {
    animation: leftArrowNudge 0.5s linear alternate;
}

@keyframes leftArrowNudge {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-15px, 0);
    }
}

#navBottom {
    max-width: 960px;
    margin: 0 auto;
}

.previousProject {
    text-align: left;
    float: left;
    margin-bottom: 50px;
}

.nextProject {
    text-align: right;
    float: right;
    margin-bottom: 80px;
}


/*
 * SHOP
 */

#shop {
    clear: both;
}

.shopWrapper img {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    background-color: #ffffff;
}

.shopWrapper img[src*="shop_hero_3"] {
    margin-right: 0;
}

#shop a,
#contact a,
#navBottom a {
    text-decoration: none;
    color: #000000;
}


/*
 * FAQ
 */

#faq h2 {
    margin-bottom: 40px;
}

h3 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
}

#faq p {
    margin-top: 20px;
    margin-bottom: 50px;
}


/*
 * CONTACT
 */

#contact {
    border-top: 1px solid #dad8d6;
}

.socialMedia img {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.socialMedia img[src*="twitter"] {
    margin-right: 0;
}


/*
 * FOOTER
 */

footer {
    clear: both;
    background-color: #dad8d6;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    font-size: 0.8rem;
    margin-bottom: 0;
}


/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */


/*
 * https://github.com/patrickkunka/zero-width
 */

body {
    margin: 0;
}


/*
 * APPLY A NATURAL BOX LAYOUT MODEL TO ALL ELEMENTS, BUT ALLOWING COMPONENTS TO CHANGE
 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
 * HIDE VISUALLY AND FROM SCREEN READERS
 */

.hidden {
    display: none !important;
}


/*
 * HIDE ONLY VISUALLY, BUT HAVE IT AVAILABLE FOR SCREEN READERS
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * EXTENDS THE .visuallyhidden CLASS TO ALLOW THE ELEMENT TO BE FOCUSABLE WHEN NAVIGATED TO VIA THE KEYBOARD
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * HIDE VISUALLY AND FROM SCREEN READERS, BUT MAINTAIN LAYOUT
 */

.invisible {
    visibility: hidden;
}


/*
 * CLEARFIX: CONTAIN FLOATS
 *
 * FOR MODERN BROWSERS
 * 1. THE SPACE CONTENT IS ONE WAY TO AVOID AN OPERA BUG WHEN THE `CONTENTEDITABLE` ATTRIBUTE IS INCLUDED ANYWHERE ELSE IN THE DOCUMENT OTHERWISE IT CAUSES SPACE TO APPEAR AT THE TOP AND BOTTOM OF ELEMENTS THAT RECEIVE THE `CLEARFIX` CLASS
 * 2. THE USE OF `TABLE` RATHER THAN `BLOCK` IS ONLY NECESSARY IF USING `:BEFORE` TO CONTAIN THE TOP-MARGINS OF CHILD ELEMENTS
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE MEDIA QUERIES FOR RESPONSIVE DESIGN
   THESE EXAMPLES OVERRIDE THE PRIMARY (‘MOBILE FIRST’) STYLES
   MODIFY AS CONTENT REQUIRES
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   PRINT STYLES
   INLINED TO AVOID THE ADDITIONAL HTTP REQUEST
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*
 * RESPONSIVE
 */

@media only screen and (max-width: 700px) {
    /* Style adjustments for viewports that meet the condition
*/
    /*
 * HEADER 
 */
    #header,
    .headerWrapperInside,
    .navWrapper,
    nav ul,
    .container2,
    .container2 main .imgWrapper img,
    #about,
    #shop,
    #about p,
    #shop p,
    #faq p,
    #contact p,
    footer p {
        max-width: 100%;
    }
    .logo {
        float: none;
        text-align: center;
        margin-left: 0;
    }
    /*
 * HEADER NAV
 */
    .navWrapper,
    nav ul,
    nav ul li,
    nav ul li a {
        text-align: center;
    }
    .navWrapper {
        padding-top: 15px;
    }
    /*
 * ABOUT
 */
    #about p,
    #shop p,
    #faq p,
    #contact p,
    footer p {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 550px) {
    /* Style adjustments for viewports that meet the condition
*/
}

@media only screen and (max-width: 400px) {
    /* Style adjustments for viewports that meet the condition
*/
}
